@model IEnumerable<Ticket>
@using Portal.Models.Ticket




@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "All Tickets";
}




<table class="table table-striped" id="mytbl">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AuthorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorCompany)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            
            <th></th>
        </tr>
    </thead>

</table>


@section Scripts {
    <script src="~/js/MyTickets.js"></script>  @* this part releated to data table  *@
    <script src="//cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="//cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
    <script src="//cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>
    

}